.full-screen__body{
	height: 100%;
}
.full-screen__body-carousel-one,
.full-screen__body-carousel-two,
.full-screen__body-carousel-three,
.full-screen__body-carousel-four{
	display: flex;
	flex-direction: row;
	position: relative;
	height: 100%;
}
.carousel-inner{
	height: 85vh;
}
.carousel-item{
	height: 100%;
}
.full-screen__body-carousel-one:after{
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	top:0;
	left: 0;
	z-index: 2;
	background: linear-gradient(222.98deg, #2323236b 5.36%, #00000041 60.13%);
}
.full-scren__body-carousel-one-img{
	flex: 1 1 auto;
}
.full-scren__body-carousel-one-img img,
.full-screen__body-carousel-two-img img,
.full-screen__body-carousel-three-img img,
.full-screen__body-carousel-four-img img{
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.full-screen__body-carousel-two-caption,
.full-screen__body-carousel-three-caption{
	flex: 1 1 35%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 2%;
}
.full-screen__body-carousel-three{
	background: linear-gradient(123.45deg, rgba(235, 235, 235, 0.953) 61.77%, #e3e3e3e9 100.56%);
}
.full-screen__body-carousel-four-caption{
	flex: 1 1 40%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 2%;
}
.full-screen__body-carousel-two-img,
.full-screen__body-carousel-three-img{
	flex: 1 1 65%;
}
.full-screen__body-carousel-four-img{
	flex: 1 1 60%;
	display: inline-flex;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.full-screen__body-carousel-four-img div:first-child{
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate(0%, -50%);
}
.full-screen__body-carousel-four-img div:last-child{
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}
.full-screen__body-caption-one ,.carousel-caption{
	bottom: 40%;
	color: #EAE9E8;
	text-transform: uppercase;
	z-index: 3;
}
.full-screen__body-carousel-caption-info {
	text-transform: uppercase;
}
.full-screen__body-caption-one ,.carousel-caption h3,
.full-screen__body-carousel-caption-info h3{
	font-size: 2.8rem!important;
	font-family: 'Cormorant Garamond', serif;
}
.full-screen__body-caption-one ,.carousel-caption h4,
.full-screen__body-carousel-caption-info h4{
	font-size: 1.9rem!important;
	font-family: 'Cormorant Garamond', serif;
}
.full-screen__body-caption-one ,.carousel-caption p,
.full-screen__body-carousel-caption-info p{
	font-size: 1.14rem;
	font-weight: 400;
}
.full-screen__body-carousel-caption-info p{
	color: #E64926;
}
.carousel-control-next, .carousel-control-prev{
	z-index: 4;
	display: none;
}
.carousel-indicators{
	z-index: 4;
}
.carousel-indicators [data-bs-target]{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

@media (max-width:1065px){
	.full-screen__body-carousel-four-caption,
	.full-screen__body-carousel-two-caption,
	.full-screen__body-carousel-three-caption{
		flex: 1 1 30%;
	}
	.full-screen__body-carousel-four-img,
	.full-screen__body-carousel-two-img,
	.full-screen__body-carousel-three-img{
		flex: 1 1 70%;
	}
	.full-screen__body-carousel-four-img div:first-child{
		width: 50%;
		height: 50%;
	}
}
@media (max-width:768px) {
	.tablet-img-none{
		display: none;
	}
	.full-screen__body-carousel-two,
	.full-screen__body-carousel-three{
		position: relative;
	}
	.full-screen__body-carousel-two,
	.full-screen__body-carousel-three,
	.full-screen__body-carousel-four{
		display: flex;
		justify-content: center;
	}
	.full-screen__body-carousel-two-caption,
	.full-screen__body-carousel-three-caption,
	.full-screen__body-carousel-four-caption{
		position: absolute;
		padding-left: 0;
		top: 50%;
		left: 0;
		transform: translate(0%, -50%);
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.full-screen__body-carousel-two-caption{ 
		color: #E64926;
	}
	.full-screen__body-carousel-four-caption{
		z-index: 3;
	}
	.full-screen__body-carousel-four-img div:last-child{
		width: 100%;
	}
}



