.menu{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
}
.menu::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 3;
}

.menu__body{
	position: relative;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.14rem;
	letter-spacing: 0.2rem; 
}
.menu__logo,
.menu__navigate,
.menu__lang,
.menu__icons,
.menu__burger,
.menu__phone-right{
	z-index: 3;
}
.menu__logo img{
	margin-right: 6px;
}
.menu__logo img:last-child{
	margin-right: 0px;
}

.menu__navigate,
.menu__lang,
.menu__icons,
.menu__burger{
	display: flex;
	align-items: center;
}
.menu__navigate ul{
	display: flex;
	flex-direction: row;
	margin: 0px -40px;
	padding-left: 0px;
}
.menu__navigate ul li{
	cursor: pointer;
	padding: 23px 20px 0px;
}
.menu__navigate ul li:nth-child(even){
	color: #B7C1C5;
}
.menu__navigate-women::after{
	content: "";
	display: block;
	height: 2px;
	margin-top: 15px;
	background-color: #fff;
}
.menu__navigate-search,
.menu__navigate-search-table,
.menu__navigate-search-phone {
	height: 100%;
	display: flex;
	align-items: center;
}
.menu__navigate-search .bi-search,
.menu__navigate-search-table .bi-search,
.menu__navigate-search-phone .bi-search{
	border-bottom: 1px solid #0F303F;
}
.menu__navigate-search .bi-search::before,
.menu__navigate-search-table .bi-search::before,
.menu__navigate-search-phone .bi-search::before{
	font-size: 18px;
}
.menu__navigate-search input,
.menu__navigate-search-table input,
.menu__navigate-search-phone input{
	border-radius: 0;
	border-bottom: 1px solid #0F303F;
}
.menu__navigate-search-table input,
.menu__navigate-search-phone input{
	width: 100%;
}
.menu__navigate-search-phone {
	margin-right: 10px;
}
.menu__lang ul{
	display: flex;
	flex-direction: row;
	margin:  0px -10px;
}
.menu__lang ul li{
	padding: 23px 10px 0px ;
	cursor: pointer;
}
.menu__lang ul li:hover,
.menu__lang-active{
	color: #E64926;
}
.menu__lang ul li:hover::after,
.menu__navigate ul li:hover::after,
.menu__lang-active::after,
.menu__navigate-active::after{
	content: "";
	display: block;
	height: 2px;
	margin-top: 15px;
	background-color: #E64926;
}

.menu__icons{
	margin: 0px -15px;
	cursor: pointer;
}
.menu__icons .bi-person,
.menu__icons .bi-heart,
.menu__icons .bi-bag{
	padding: 0px 15px;
}

.menu__icons-count{
	position: absolute;
	right: 23%;
	bottom: 0;
	display: flex;
	justify-content: center;
	min-width: 15px;
	line-height: 1rem;
	color: #fff;
	letter-spacing: 0;
	background-color: #E64926;
	border-radius: 30px;
	font-size: 0.75rem;
	padding: 1px 2px;
}
.count-busket{
	bottom: -1px;
}

.menu__icons .bi-person::before,
.menu__icons .bi-heart::before{
	margin-top: 8px;
}
.menu__phone-right{
	display: flex;
	flex-direction: row;
}
.menu__lang-phone-ul{
	padding-left: 0px;
}
.menu__burger{
	cursor: pointer;
}

.menu__detailed{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 90%;
	transition: all 0.3s ease 0s;
	background-color: #fff;
	padding-top: 115px;
	padding-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
	overflow: auto;

}
.menu__detailed-active{
	top: 0;
}
.menu__detailed::-webkit-scrollbar {
	width: 5px;
}
.menu__detailed::-webkit-scrollbar-track {
	background-color: transparent;
	margin: 5px;

}
.menu__detailed::-webkit-scrollbar-thumb {
	background-color: #e649266f;
	border-radius: 20px;
}

.menu__detailed-table{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 120px;
}


@media (max-width:1100px) {
	.menu__navigate ul{
		margin: 0px -10px;
	}
	.menu__navigate ul li{
		padding: 23px 10px 0px;
	}
	.menu__navigate-search input{
		max-width: 115px;
	}
	.menu__lang ul{
		margin: 0px -7px;
	}
	.menu__lang ul li{
		padding: 23px 7px 0px;
	}
	.menu__icons{
		margin: 0px -7px;
	}
	.menu__icons .bi-person,
	.menu__icons .bi-heart,
	.menu__icons  .bi-bag{
		padding: 0px 7px;
	}
	.menu__icons-count{
		right: 14%;
	}
}
@media (max-width:898px){
	.menu__logo img{
		margin-right: 4px;
	}
	.menu__navigate ul{
		margin: 0px -5px;
	}
	.menu__navigate ul li{
		padding: 23px 5px 0px;
	}
	.menu__navigate-search input{
		max-width: 85px;
	}
	.menu__lang ul{
		margin: 0px -3px;
	}
	.menu__lang ul li{
		padding: 23px 3px 0px;
	}
	.menu__icons{
		margin: 0px -3px;
	}
	.menu__icons .bi-person,
	.menu__icons .bi-heart,
	.menu__icons  .bi-bag{
		padding: 0px 3px;
	}
	.menu__icons-count{
		right: 3%;
	}
	.menu__detailed{
		padding-left: 3%;
		padding-right: 3%;
	}
}
@media (max-width:800px){
	.menu__body{
		min-height: 50px;
	}
	.menu__icons{
		margin: 0px -7px;
	}
	.menu__icons .bi-person,
	.menu__icons .bi-heart,
	.menu__icons  .bi-bag{
		padding: 0px 7px;
	}
	.menu__icons-count{
		right: 11%;
	}
	.menu__burger .bi-x-lg,
	.menu__burger .bi-filter-right{
		padding-left: 27px;
	}.menu-detailed__tablet-info{
		color: #254A5A;
		font-size: 0.85rem;
		font-weight: 400;
		margin: 0px auto 14px;
	}
	.menu__detailed{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	.menu-detailed__tablet-info ul{
		margin: 0px -10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.menu-detailed__tablet-info span{
		padding: 0px 10px;
	}
}
@media (max-width:590px){
	.menu__detailed-table{
		display: flex;
		flex-direction: column;
		margin-bottom: 56px;
		align-items: center;
	}
}
@media (max-width:375px){
	.menu__body{
		font-size: 1rem;
	}
	.menu__detailed{
		height: 100%;
	}
	.menu-detailed__phone-info{
		margin-top: 30px;
		color: #254A5A;
		font-size: 0.6rem;
		font-weight: 400;
	}
	.menu-detailed__phone-info ul{
		margin: 0px -10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.menu-detailed__phone-info span{
		padding: 0px 10px;
	}
	.menu__navigate-search-phone .bi-search::before{
		font-size: 18px;
	}
}