.menu-detailed{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.menu-detailed__phone{
	flex-direction: column;
}
.menu-detailed__tablet{
	align-items: center;
}
.menu-detailed__choise{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu-detailed__phone,
.menu-detailed__choise{
	flex: 1 1 auto;
}
.menu-detailed__info{
	color: #254A5A;
	font-size: 0.85rem;
	font-weight: 400;
	margin: 0px auto 14px;
}
.menu-detailed__info ul{
	margin: 0px -40px;
}
.menu-detailed__info ul span{
	padding: 0px 40px;
}

.menu-detailed__accordion{
	width: 100%;
}
.menu-detailed__accordion .accordion-button{
	background-color: unset;
	font-weight: 600;
	justify-content: center;
	font-size: 1rem;
	font-weight: 600;
	color: #0F303F;
	margin: 0px auto;
}

.accordion-button:not(.collapsed), 
.accordion-button:not(.collapsed):focus  {
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}
.accordion-button:focus{
	box-shadow: none;
}

.menu-detailed__accordion .accordion-button:not(.collapsed){
	background-color: #fff;
}

.menu-detailed__accordion .accordion-button:not(.collapsed)::after{
	filter: invert(62%) sepia(32%) saturate(2076%) hue-rotate(334deg) brightness(86%) contrast(111%);
}

.menu-detailed__accordion .accordion-button::after{
	margin-left: 11px;
	margin-right: 0px;
}

.menu-detailed__accordion .accordion-body ul{
	margin-bottom: 0px;
	padding-left: 0px;
	font-size: 1rem;
	text-transform: none;
	letter-spacing: 0.1rem;
	color: #0F303F;
}

.menu-detailed__accordion .accordion-body ul li:hover{
	cursor: pointer;
	color: #E64926;
}
.menu-detailed__accordion .accordion-body ul li:hover::before{
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #E64926;
	margin-right: 5px;
	margin-bottom: 2px;
	border-radius: 50%;
}

.accordion-item{
	border: none;
}

@media (max-width:953px) {
	.menu-detailed__info ul{
		margin: 0px -20px;
	}
	.menu-detailed__info ul span{
		padding: 0px 20px;
	}
}
@media (max-width:800px){
	.menu-detailed__info{
		display: none;
	}
	.menu-detailed__tablet{
		flex: 1 1 auto;
	}
	.menu-detailed__accordion .accordion-button::after{
		margin-left: 7px;
		margin-right: 0px;
	}
}