.menu-detailed{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-detailed__clothes .accordion-button,
.menu-detailed__shoes .accordion-button,
.menu-detailed__bags .accordion-button,
.menu-detailed__accessories .accordion-button,
.menu-detailed__underwear .accordion-button{
	background-color: unset;
	font-weight: 600;
	justify-content: center;
	font-size: 1rem;
	font-weight: 500;
	color: #0F303F;
	margin: 0px auto;
}

.accordion-button:not(.collapsed), 
.accordion-button:not(.collapsed):focus  {
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}
.accordion-button:focus{
	box-shadow: none;
}

.menu-detailed__clothes .accordion-button:not(.collapsed),
.menu-detailed__shoes .accordion-button:not(.collapsed),
.menu-detailed__bags .accordion-button:not(.collapsed),
.menu-detailed__accessories .accordion-button:not(.collapsed),
.menu-detailed__underwear .accordion-button:not(.collapsed){
	background-color: #fff;
}

.menu-detailed__clothes .accordion-button::after,
.menu-detailed__shoes .accordion-button::after,
.menu-detailed__bags .accordion-button::after,
.menu-detailed__accessories .accordion-button::after,
.menu-detailed__underwear .accordion-button::after {
	margin-left: 11px;
	margin-right: 11px;
}



.menu-detailed__clothes .accordion-body ul,
.menu-detailed__shoes .accordion-body ul,
.menu-detailed__bags .accordion-body ul,
.menu-detailed__accessories .accordion-body ul,
.menu-detailed__underwear .accordion-body ul{
	margin-bottom: 0px;
	padding-left: 0px;
	font-size: 1rem;
	text-transform: none;
	letter-spacing: 0.1rem;
	color: #0F303F;
}

.accordion-item{
	border: none;
}

.accordion-button:not(.collapsed)::after{}

.menu-detailed__clothes ,
.menu-detailed__shoes ,
.menu-detailed__bags ,
.menu-detailed__accessories ,
.menu-detailed__underwear {}
