.preview-popular{
	max-width: 1085px;
   margin: 120px auto 0px;
	padding: 0px 15px;
}
.preview-popular__body{
	text-align: center;
	width: 100%;
	height: 100%;
}
.preview-popular__body h2{
	font-size: 2.14rem;
	text-transform: uppercase;
	color: #0F303F;
	font-family: 'Cormorant Garamond', serif;
	margin-bottom: 70px;
}

.swiper {}
.mySwiper{
	height: 100%!important;
	width: 100%;
}
.swiper-wrapper{
	height: 100%;
}
.swiper-pagination{
	display: none;
}
.swiper-slide {
	background: #fff;
	min-height: 100%!important;
	height: unset!important;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */