.preview-about{
	margin-top: 180px;
}
.preview-about__body{
	display: flex;
	flex-direction: row;
	padding: 0 13%;
	background-color: #254A5A;
	position: relative;
	width: 100%;
	height: 100%;
}
.preview-about__body-text{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 135px 20px 135px 0px;
	flex: 1 1 53%;
}
.preview-about__body-text h2,
.preview-about__body-text h3{
	
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
}
.preview-about__body-text h2{
	font-size: 2.14rem;
	margin-bottom: 0;
}
.preview-about__body-text h3{
	font-size: 6.4rem;
}
.preview-about__body-image{
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1 1 47%;
}
.preview-about__body-image-in{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 45px;
}
.preview-about__body-image-in img{
	min-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.preview-about__body-forms-desctop{
	position: absolute;
	top: 0;
	left: -138px;
	width: 100%;
	height: 100%;
}
.preview-about__body-forms-desctop span{
	width: 318px;
	content: "";
	display: block;
	height: 1px;
	background-color: #fff;
	transform: rotateZ(-55.81deg); 
}
.preview-about__body-forms-desctop img{
	padding-left: 89px;
	margin-top: -62px;
	transform: rotateZ(0deg);
}
.preview-about__body-forms img{
	display: none;
}



@media (max-width:1396px) {
	.preview-about__body{
		padding: 0 11%;
	}
	.preview-about__body-text{
		padding: 130px 20px 130px 0px;
	}
}
@media (max-width:1274px) {
	.preview-about__body{
		padding: 0 9%;
	}
	.preview-about__body-text{
		padding: 110px 20px 110px 0px;
	}
	.preview-about__body-text{
		flex: 1 1 57%;
	}
	.preview-about__body-image{
		flex: 1 1 43%;
	}
}
@media (max-width:1161px) {
	.preview-about__body{
		padding: 0 7%;
	}
	.preview-about__body-text{
		padding: 90px 20px 90px 0px;
	}
	.preview-about__body-text{
		flex: 1 1 61%;
	}
	.preview-about__body-image{
		flex: 1 1 39%;
	}
}
@media (max-width:1090px){
	.preview-about__body{
		padding: 0 4%;
	}
	.preview-about__body-text{
		padding: 60px 20px 60px 0px;
	}
	.preview-about__body-text{
		flex: 1 1 65%;
	}
	.preview-about__body-image{
		flex: 1 1 35%;
	}
} 
@media (max-width:962px){
	.preview-about{
		min-height: 640px;
	}
	.preview-about__body{
		display: flex;
		flex-direction: column;
		padding: 0 13%;
		position: relative;
		width: 100%;
		height: 100%;
	}
	.preview-about__body-text{
		padding: 130px 0px;
	}
	.preview-about__body-forms-desctop{
		display: none;
	}
	.preview-about__body-text{
		flex: none;
	}
	.preview-about__body-image{
		flex: none;
		position: initial;
	}
	.preview-about__body-image-in{
		max-width: 226px;
		max-height: 258px;
		position: absolute;
		top: 80%;
		right: 10%;
	}
	.preview-about__body-forms{
		position: absolute;
		top: 75px;
		right: 30px;
	}
	.preview-about__body-forms span{
		width: 318px;
		content: "";
		display: block;
		height: 1px;
		background-color: #fff;
		transform: rotateZ(-55.81deg); 
	}
	.preview-about__body-forms img{
		display: block;
		padding-left: 138px;
		margin-top: -66px;
		transform: rotateZ(0deg);
	}
}
@media (max-width:768px){
	.preview-about__body-forms span{
		width: 178px;
		content: "";
		display: block;
		height: 1px;
		background-color: #fff;
		transform: rotateZ(-55.81deg); 
	}
	.preview-about__body-forms img{
		display: block;
		padding-left: 68px;
		margin-top: -66px;
		transform: rotateZ(0deg);
	}
}
@media (max-width:568px){
	.preview-about__body{
		padding: 0 7%;
	}
	.preview-about__body-image-in{
		top: 75%;
	}
}
@media (max-width:450px){
	.preview-about__body-image{
		display: none;
	}
	.preview-about__body-forms{
		right: 0;
	}
}