.preview-popular{
	max-width: 1085px;
   margin: 120px auto 0px;
	padding: 0px 15px;
}
.preview-popular__body{
	text-align: center;
	width: 100%;
	height: 100%;
}
.preview-popular__body h2{
	font-size: 2.14rem;
	text-transform: uppercase;
	color: #0F303F;
	font-family: 'Cormorant Garamond', serif;
	margin-bottom: 70px;
}

.swiper {}
.mySwiper{
	height: 100%!important;
	width: 100%;
}
.swiper-wrapper{
	height: 100%;
}
.swiper-pagination{
	display: none;
}
.swiper-slide {
	background: #fff;
	min-height: 100%!important;
	height: unset!important;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.preview-popular__body-tablet{
	display: none;
}
@media(max-width:768px){
	.preview-popular__body-tablet{
		display: flex;
		margin-top: 60px;
		align-items: center;
	}
	.preview-popular__body-tablet::before,
	.preview-popular__body-tablet::after{
		content: "";
		height: 1px;
		width: 100%;
		background-color: #EAE9E8;
	}
	.preview-popular__body-tablet::before{
		margin-right: 22px;
	}
	.preview-popular__body-tablet::after{
		margin-left: 22px;
	}
	.preview-popular__body-tablet-logo{
		display: flex;
		flex-direction: row;
	}
	.preview-popular__body-tablet-logo img{
		margin-right: 6px;
		-webkit-filter: 
			invert(100%) 
			sepia(2%) saturate(630%) 
			hue-rotate(216deg) 
			brightness(151%) 
			contrast(66%);
	}
	.preview-popular__body-tablet-logo img:last-child{
		margin-right: 0px;
	}
}
@media(max-width:400px){
	.preview-popular__body-tablet::before{
		margin-right: 10px;
	}
	.preview-popular__body-tablet::after{
		margin-left: 10px;
	}
}