.registration{
	padding: 45px 15px;
}
.registration__body{
	max-width: 525px;
	margin: 0px auto;
}
.registration__body h2{
	font-weight: 500;
	font-size: 1.78rem;
	text-align: center;
	margin-bottom: 35px;
	text-transform: uppercase;
}


.registration__body .form-control{
	border: none;
	border-bottom: 1px solid #0F303F;
	border-radius: 0rem;
}
.registration__body .form-control:focus{
	border-bottom: 1px solid #0F303F;
	box-shadow: none;
}
.registration__body .form-control::placeholder{
	font-size: 1.14rem;
	color: #B7C1C5;
}

.PhoneInput{
	border-bottom: 1px solid #0F303F;
	margin-left: 10px;
	margin-right: 10px;
	width: 46%;
}
.PhoneInputInput::placeholder{
	color: #B7C1C5;
}
.form-check-input[type=checkbox] {
	border-radius: 0;
}
.form-check-input:checked {
	background-color: #E64926;
	border-color: #E64926;
}
.form-check-label{
	font-size: 0.85rem;
}

.registration__body-password{
	border-bottom: 1px solid #0F303F;
	align-items: center;
	justify-content: space-between;
	display: flex;
	margin: 0px 10px;
	width: 46%;
}
.registration__body-password input{
	font-size: 1rem;
	color: #212529;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.registration__body-password input::placeholder{
	font-size: 1.15rem;
	color: #B7C1C5;
}

.registration__body-btn{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.registration__body-btn-text{
	margin-left: 25px;
	font-size: 0.85rem;
}
.registration__body-btn-text span,
.registration__body-check span{
	color: #E64926;
	cursor: pointer;
}
.registration__body-btn .btn-primary {
	--bs-btn-bg: #0F303F;
	--bs-btn-border-color: none;
	--bs-btn-hover-bg: #044360;
	--bs-btn-focus-shadow-rgb: none;
	--bs-btn-active-bg: #0c648c;
	--bs-btn-active-border-color: #044360;
	min-width: 250px;
}
.registration__body-btn .btn{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.14rem;
	--bs-btn-padding-x: 15px;
	--bs-btn-padding-y: 15px;
	--bs-btn-border-radius: none;
}

@media (max-width:767px){
	.registration__body-allforms{
		padding: 0px 15px;
	}
	.PhoneInput{
		margin-bottom: 14px;
		height: 32px;
	}
	.registration__body-margbott{
		margin-bottom: 14px;
	}
	.PhoneInput,
	.registration__body-password{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.PhoneInputCountry,
	.registration__body-password input{
		padding-left: 0.75rem;
	}
	.row>*{
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width:548px){
	.registration__body-btn{
		display: flex;
		flex-direction: column;
	}
	.registration__body-btn .btn{
		width: 100%;
		margin-bottom: 25px;
	}
	.registration__body-btn-text {
		margin-left: 0;
	}
}
@media (max-width:311px){
	.registration__body-btn .btn-primary {
		min-width: none;
	}
	.registration__body-btn .btn{
		font-size: 1rem;
	}
	.registration__body-password input {
		width: 100%;
	}
}