.busket{
	margin: 45px auto 0px;
	padding: 0px 30px;
	max-width: 870px;
}

.busket__title{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.78rem;
	margin-bottom: 25px;
}
.busket__body{
	display: flex;
	flex-direction: row;
}
.busket__body-person{
	flex: 1 1 50%;
}

.busket__body-cards{
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
}
.busket__body-cards > .wishlist__body-cards{
	width: 100%;
}
.busket__body-cards > .wishlist__body-cards .wishlist__body-cards-info-right{
	justify-content: unset;
}
.busket__body-cards > .wishlist__body-cards .wishlist__body-cards-info-right-name,
.busket__body-cards > .wishlist__body-cards .wishlist__body-cards-info-right-categories{
	margin-bottom: 8px;
}
.busket__body-cards-total{
	border: 1px solid #EAE9E8;
	font-size: 1.42rem;
	padding: 30px;
}
.busket__body-cards-total span{
	font-weight: 700;
}