/* .brands{}
.brands__body{
	display: flex;
	flex-direction: column;
}
.brands__body section{
	position: relative;
} */
.brands{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.brands section{
	position: relative;
	min-height: 100vh;
} 

.brands__body-full{
	background-position: 50%;
	background-size: cover;
	height: 91%;
	width: 100%;
} 
.full-screen1{
	background-image: url(../../image/brandsPage/fullscreen.png);
}
.full-screen2{
	background-image: url(../../image/brandsPage/girlsOnPillow.png);
}
.full-screen3{
	background-image: url(../../image/brandsPage/image70.png);
	height: 91vh;
}
.full-screen4{
	background-image: url(../../image/brandsPage/image60.png);
}
.full-screen2::after,
.full-screen4::after{
	width: 100%;
	height: 91vh;
	position: absolute;
	content: "";
	top:0;
	left: 0;
	background: linear-gradient(222.98deg, #2323236b 5.36%, #00000041 60.13%);
}
.brands__body-full-text{
	color: #fff;
	max-width: 625px;
	height: 91vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px auto;
	text-align: center;
	padding: 0px 15px;
}
.brands__body-full-text h4,
.brands__body-full-text3 h4{
	font-weight: 500;
	font-size: 1.42rem;
	text-transform: uppercase;
	font-family: 'Cormorant Garamond', serif;
	z-index: 2;
}
.brands__body-full-text h3,
.brands__body-full-text3 h3{
	font-weight: 500;
	font-size: 2.85rem;
	text-transform: uppercase;
	font-family: 'Cormorant Garamond', serif;
	z-index: 2;
}
.brands__body-full-text p{
	z-index: 2;
}
.brands__body-full-text3{
	color: black;
	max-width: 625px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px auto;
	text-align: center;
	padding: 0px 15px;
}


.brands__body-info{
	max-width:  1145px;
	margin: 120px auto 120px;
	padding: 0px 15px;
} 
.info1{}
.brands__body-info-up{
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 350px;
}
.brands__body-info-up-img{
	flex:  1 1 35%;
	background-position: center;
	background-size: cover;
}
.info-img1{
	background-image: url(../../image/brandsPage/image32.png);
}
.info-img2{
	background-image: url(../../image/brandsPage/image61.png);
}
.info-img3{
	background-image: url(../../image/brandsPage/image71.png);
	flex: 1 1 23%!important;
}
.info-img4{
	background-image: url(../../image/brandsPage/image61gerlwshoose\ .png);
}
.brands__body-info-up-text{
	flex:  1 1 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.brands__body-info-up-text h5{
	text-transform: uppercase;
	font-size: 1.78rem;
	font-weight: 800;
	margin-bottom: 25px;
}
.brands__body-info-up-text p{
	opacity: 0.7;
}
.up-text1{
	padding-left: 8%;
}
.up-text2{
	padding-right: 8%;
	text-align: center;
}
.up-text3{
	flex: 1 1 77%!important;
	padding-left: 8%;
}
.brands__body-info-down1{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
.brands__body-info-down2{
	display: flex;
	justify-content: flex-start;
	margin-top: 40px;
}
.brands__body-info-down1 img{
	margin-right: 15%;
}


.brands__body-info-down2-combiantion{
position: relative;
margin-left: 15%;
}
.brands__body-info-down2-forms{
	position: absolute;
	bottom: 0;
	left: 0;
}
.brands__body-info-down2-forms span::before{
	width: 318px;
	content: "";
	display: block;
	height: 1px;
	background-color: #CEC6C4;
	transform: rotateZ(-148.53deg);
	margin-left: -128px;
	margin-bottom: -72px;

}
.brands__body-info-down2-forms img{
	margin-left: -58px;
   margin-bottom: -37px;
}

@media(max-width:990px){
	.brands__body-info{
		margin: 90px auto 90px;
	} 
	.up-text1{
		padding-left: 4%;
	}
	.up-text2{
		padding-right: 4%;
	}
	.up-text3{
		padding-left: 4%;
	}
}
@media(max-width:613px){
	.brands__body-info-up{
		flex-direction: column;
		width: 100%;
		min-height: 350px;
	}
	.brands__body-info-up-img {
		min-height: 425px;
	}
	.up-text1,
	.up-text2,
	.up-text3{
		padding-left: 0;
		padding-top: 30px;
	}
	/* .info-img3{
		max-height: 265px;
	} */
	
}
@media(max-width:577px){
	.brands__body-info-down2-combiantion {
		margin-left: 12%;
	}
	.brands__body-info-down1 img {
		margin-right: 5%;
	}
}
@media(max-width:312px){
	.brands__body-info-down2-combiantion {
		margin-left: 2%;
	}
	.brands__body-info-down1 img {
		margin-right: 1%;
	}
}